<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <img src="" alt="">
    <br>
    <div>
      <center><h1>Sentiment Analysis</h1></center>
    </div>
    
    <div class="base">
      <div class="flex_box" id="first_flex">
        <h5 style="font-weight: 400;">Input The Statement</h5>
        <form action="/" method="POST">
          <textarea name="statement" id="" rows="4"></textarea>
          <br>
          <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
      </div>
      
      <div class="flex_box">
        <h5 style="font-weight: 400;">Results</h5>
      
        <table>
          
            <tr class="head">
              <td>SUBJECTIVITY</td>
              <td class="col2">POLARITY</td>
            </tr>
          
          {% if polarity != "none" %}
            <tbody>
              <tr>
                <td>{{ subjectivity }}</td>
                <td class="col2">{{ polarity }}</td>
              </tr>
            </tbody>
          {% else %}
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td class="col2">&nbsp;</td>
              </tr>
            </tbody>
          {% endif %}
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>